<body>
  <H1>  
  TODO APP
</H1>

<input class="inputTarefa"

      placeholder="Tarefa" 
      [(ngModel)]="Tarefa.nome">

<input class="inputDesc"

      placeholder="Descrição" 
      [(ngModel)]="Tarefa.desc">

<select name="" id="" [(ngModel)]="Tarefa.categoria">
  <option value="To do">To do</option>
  <option value="Doing">Doing</option>
  <option value="Done">Done</option>
</select>

<button (click)="novaTarefa()">Cadastrar</button>

<div>
  <h4 *ngFor="let att of atts;index as indice;">
    Tarefa: {{ att.nome }}
    <br>
    Descrição: {{ att.desc }}
    <br>
    Categoria: {{att.categoria}}
    <br>
    Atualizar categoria: <select name="" id="" [(ngModel)]="att.categoria">
      <option  value="To do">To do</option>
      <option value="Doing">Doing</option>
      <option value="Done">Done</option>
    </select>
    <br>
    <br>
    <button (click)="Apaga(indice)">Apagar</button>
    <hr>
  </h4>
</div>
</body>