<body>
  <H1>  
  TODO APP
</H1>

<input 

      placeholder="Tarefa" 
      [(ngModel)]="Tarefa.nome">

<input 

      placeholder="Descrição" 
      [(ngModel)]="Tarefa.desc">

<button (click)="novaTarefa()">Cadastrar</button>

<div>
  <h4 *ngFor="let att of atts;index as indice;">
    ID: {{indice}}
    <br>
    Tarefa: {{ att.nome }}
    <br>
    Descrição: {{ att.desc }}
    <br>
    Categoria: <select name="" id="">
      <option value=""></option>
      <option value="To do">To do</option>
      <option value="Doing">Doing</option>
      <option value="Done">Done</option>
    </select>
    <br>
    <button (click)="Apaga(indice)">Apagar</button>
    <hr>
  </h4>
</div>
</body>