@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    font-family: 'Bacasime Antique', serif;
}

.titulo{
    display: flex;
    justify-content: space-around;
}

.buttonRemove{
    display: flex;
    justify-content: center;
}

.kanban{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

*{
    box-sizing: border-box;
    margin: 0 0 0 0;
}

body{
    background-image: url("./app/image/wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Bacasime Antique', serif;

}

h1{
    width: 25rem;
}

div{
    word-wrap: break-word;
}

.inputs {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bacasime Antique', serif;
}

.center{
    display: flex;
    justify-content: center;
}

.for{
    width: 25rem;
    color: white;
}

.kanban>div>div>div{
    margin-top: 2rem;
}

.espaco{
    margin-top: 5rem;
    color: rgb(255, 255, 255);
}

h1{
    display: flex;
    justify-content: center;
    background-color: rgb(161, 61, 161);
    border-radius: 20px;
}


h3{
    flex-wrap: wrap;
    margin-top: 1rem;
}

h4{
    color: rgb(241, 101, 241);
}


.if{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: white;
    word-wrap: break-word;
}

input{
    height: 3rem;
    width: 20rem;
    border: 3px solid black;
    border-radius: 10px;
    font-size:large;
    font-family: 'Bacasime Antique', serif;
}

.desc{
    height: 5rem;
    width: 30rem;
}

button{
    font-family: 'Bacasime Antique', serif;
    font-size:large;
    font-weight: bold;
}

option, select{
    font-family: 'Bacasime Antique', serif;
    font-size:large;
    font-weight: bold;
}

.addCat{
    display: flex;
    justify-content: center;
}

.tarefasAdicionadas{
    display: flex;
    justify-content: space-around;
}