<body>
  <div class="center">
    <div class="inputs">
      <input class="inputTarefa" placeholder="Tarefa" [(ngModel)]="Tarefa.nome">

      <input class="inputDesc" placeholder="Descrição" [(ngModel)]="Tarefa.desc" class="desc">

      <select name="" id="" [(ngModel)]="Tarefa.categoria">
        <option *ngFor="let car of categorias;">{{car}}</option>
      </select>
      <button (click)="novaTarefa()" [disabled]="!hasPermission('Add')">Adicionar Tarefa</button>

    </div>
  </div>
  
  <div>
    <div class="kanban">

      <div *ngFor="let cat of categorias;" (dragover)="allowDrag(cat)">
        <h1 class="espaco">{{cat}}</h1>

        <div *ngFor="let att of atts; index as indice;" class="for">
          <div *ngIf="att.categoria === cat" draggable="true" (dragstart)="drag(att)" (drop)="dropTarefa($event, indice)" (dragover)="drop($event, indice)">
            <h3>
              <h3>Tarefa: <h6>{{att.nome}}</h6></h3>
              <hr>
              <h3>desc: <h6>{{att.desc}}</h6></h3>
              <hr>
              <h3>categoria: <h6>{{att.categoria}}</h6></h3>
              <hr>

              <select name="" id="" [(ngModel)]="att.categoria" (change)="localStorage()">
                <option *ngFor="let car of categorias;">{{car}}</option>
              </select>

              <br>

              <button (click)="Apaga(indice)">Apagar</button>
              <br>
              <hr>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>