<body>
    <app-header></app-header>
    <br>
    <div id="linhaDeAdicionarCategorias" class="addCat">
        <input maxLength="15" placeholder="Nome da categoria" [(ngModel)]="categoria">
    </div>
    <div class="addCat">
        <button (click)="cadastrarCategoria()">Cadastrar</button>
    </div>

    <div class="kanban">
        <div *ngFor="let cat of categorias; index as indice;" class="for">
            <h3 style="color: white;">
                <h1 class="espaco">{{cat}}</h1>
                <br>
                <button class="buttonRemove" (click)="removerCat(indice)">remover</button>
            </h3>
        </div>
    </div>
</body>